**.idea/**
**_pycache__/
**.csv
!forecasting/data/NIST_Canopy_2015_2018_interpolated.csv
!forecasting/data/NIST_Canopy_2015_2018_original.csv
!forecasting/**/results.csv
!forecasting/**/cval_res_*.csv
forecasting/nist_preprocessing.py
forecasting/result_metrics.py
forecasting/plots.py
forecasting/lstm_performance_evaluation.py
forecasting/sarima_performance_evaluation.py
forecasting/test.py
**.txt
**.png
**.html
**.drawio
**.pdf
**.pkl
**.npy
**.xlsx
**.keras