**.csv
!forecasting/data/NIST_Canopy_2015_2018_interpolated.csv
!forecasting/data/NIST_Canopy_2015_2018_original.csv
!forecasting/**/results.csv
!forecasting/**/cval_res_*.csv
!forecasting/optuna_results.csv
!forecasting/lstm_time_log.txt
!forecasting/autoarima_log.txt
!forecasting/optuna_result/*.csv
!scheduler/**/*.csv
!scheduler/**/*.pdf
scheduler/**/*.lp
**.txt
**.png
**.html
**.drawio
**.pdf
**.pkl
**.npy
**.xlsx
**.keras